body {
  background-color: #ffffff;
}
.header-panel {
  text-align: center;
}
.row.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.container {
  margin-bottom: 30px;
}
.radio-group label {
  cursor: pointer;
}
.checkbox-group label {
  cursor: pointer;
}
.button-room {
  padding: 15px;
}
#error-panel h6 {
  color: #d9534f;
}
.finish-value {
  font-size: 18px;
  margin-left: 15px;
}
blockquote {
  border-left-color: #337ab7;
  padding-top: 8px;
  padding-bottom: 8px;
}
